@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@media print {
  body {
    visibility: hidden;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 124rem;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.wrapper {
  overflow: hidden;
}

.wrapper .question-container {
  width: 100%;
  text-align: left;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.question-container.active {
  color: #1db954;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.wrapper .question-container:hover {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.wrapper .arrow {
  transition: .5s ease-in-out;
}

.arrow.active {
  rotate: 180deg;
  color: #1db954;
}

.wrapper .answer-container {
  padding: 0 1rem;
  text-align: left;
  transition: height .7s ease-in-out;
}

.wrapper .answer-content {
  padding: 1px 0;
  text-align: left;
  font-style: italic;
}

/* swiper */
/* sipwer */
.swiper-slide {
  text-align: center;
  position: relative;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.slider-controler .slider-arrow {
  width: 3.5rem;
  height: 3.5rem;
}

span.swiper-pagination-bullet {
  height: 9px;
  width: 14px;
  border-radius: 10px;
  transition: .5s ease-in-out;
}

span.swiper-pagination-bullet-active {
  height: 9px;
  border-radius: 10px;
  width: 24px;
  color: white;
  background-color: #af282f;
}
